.page-container {
    height: 100%;
}

.body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex-grow: 1;
    padding-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    /* padding: 10px; */
}

mat-toolbar a {
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* .header {
    padding: 12px 12px;
} */

mat-toolbar button {
    font-size: 20px;
    color: white;
}

/* nav a:hover {
    border-bottom: 3px solid white;
}

*/
::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.45em;
}

.menu-spacer {
    flex: 1 1 auto;
}